{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">
<meta name="keywords" content="Balram Advertisers India">
<meta name="keywords" content="Balram Advertisers in Kanpur">
<meta name="keywords" content="Traffic Booth advertisement in Kanpur">
<meta name="keywords" content="Phoolbagh Chauraha advertisement in Kanpur">
<meta name="keywords" content="Bada Chauraha advertisement in Kanpur">
<meta name="keywords" content="Gol Chauraha advertisement in Kanpur">
<meta name="keywords" content="Outdoor advertisement in Kanpur">
		<meta name="keywords" content="Gol Chauraha advertisement in India">

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
