{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}
<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/balramadvertiserskanpur31.jpg')">
  </div>
{{ partial "2-up" .Params }}
<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/balramadvertiserskanpur6.jpg')">
</div>
{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}
<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/balramadvertiserskanpur12.jpg')">
</div>
{{ partial "blog" . }}
<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/balramadvertiserskanpur13.jpg')">
</div>
{{ end }}
